


<%= form_for(@project) do |f| %>
  <div class="form-group">

    <% if project.errors.any? %>
    <div class = "text-danger" id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control form-control-lg' %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: '6' %>
    <br>
    <%= f.submit 'Submit Project', class: 'btn btn-success' %>
  </div>
<% end %>